.bio{
    margin-top: 40px;
    margin-bottom: 30px;
    background: black;
    font-size: 25px;
    width: 700px;
    position: relative;
    left: 360px;
    opacity: 0.6;
    color: white;
    font-family: Georgia;
}

.bio-content{
    padding: 40px;
}
@media screen and (max-width: 980px) {
    .bio{
        position: relative;
        left: 360px;
    }    

}
@media screen and (max-width: 768px) {
    .bio{
        position: relative;
        left: 360px;
    }    
}
@media screen and (max-width: 640px){
    .bio{
        position: relative;
        left: 360px;
    }    
}
@media screen and (max-width: 400px){

    .bio{
        position: relative;
        left: 62px;
        width: 300px;

    }
    .bio-content{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
};