.profileImage{
    position: relative;
    left: 800px;
    background: black;
    height: 400px;
    padding: 3px;
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
    

}


@media screen and (max-width: 1400px){
.profileImage{
    position: relative;
    left: 550px;
    background: black;
    height: 400px;
    padding: 3px;
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
    

}
}
@media screen and (max-width: 980px) {


}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 640px){

}
@media screen and (max-width: 400px){

    .profileImage{
        position: relative;
        left: 95px;
        height: 300px;
    }

};